<div nz-row [nzGutter]="[16, 16]">
  <div nz-col [nzSpan]="24">
    <card nz-card>
      <div class="button-group">
        <span class="group-info">Selected {{ setOfCheckedId.size }} User</span>
        <div class="group-item">
          <app-button
            nz-button
            type="dashed"
            class="line-info"
            icon="plus-circle"
            text="add new"
            (click)="openCreate()"
          ></app-button>
          <app-button
            nz-button
            *ngFor="let item of buttonItem"
            type="dashed"
            [text]="item.text + '\ndata'"
            [icon]="item.icon"
            [disabled]="setOfCheckedId.size === 0"
          ></app-button>
        </div>
      </div>
      <nz-table
        #userList
        nzShowSizeChanger
        nzShowPagination
        [nzData]="listOfData"
        nzTableLayout="fixed"
        [nzScroll]="{ y: '500px' }"
        [nzPageSize]="10"
        [nzPageSizeOptions]="[10, 100, 500, 1000]"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
      >
        <thead>
          <tr>
            <th
              nzLeft
              nzWidth="60px"
              [(nzChecked)]="checked"
              [nzIndeterminate]="indeterminate"
              (nzCheckedChange)="onAllChecked($event)"
            ></th>
            <th
              *ngFor="let col of listOfColumn"
              nzEllipsis
              [nzSortOrder]="col.sortOrder"
              [nzSortFn]="col.sortFn"
              [nzSortDirections]="col.sortDirections"
              [nzFilterMultiple]="col.filterMultiple"
              [nzFilters]="col.listOfFilter"
              [nzFilterFn]="col.filterFn"
              [nzWidth]="col.width"
              [nzAlign]="col.align"
            >
              {{ col.name }}
            </th>
            <th nzRight nzWidth="160px">Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of userList.data">
            <tr>
              <td
                nzLeft
                nzWidth="60px"
                [nzChecked]="setOfCheckedId.has(data.id)"
                (nzCheckedChange)="onItemChecked(data.id, $event)"
              ></td>
              <td>{{ data.name }}</td>
              <td>{{ data.company }}</td>
              <td>{{ data.status }}</td>
              <td nzRight class="action-column">
                <a class="action-item" (click)="openDetail()">
                  <icon type="file-search"></icon>
                  detail
                </a>
                <a
                  class="action-item delete"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to delete?"
                  nzOkText="delete"
                  nzOkType="danger"
                  (nzOnConfirm)="deleteRow(data.id)"
                >
                  <icon type="delete"></icon>
                  delete
                </a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </card>
  </div>
</div>

<modal nz-modal [width]="600" title="create new user" [visible]="isCreate">
  <div modal-content>
    <div class="section-label">
      <div class="modal-section label-col">
        <div class="modal-item-input">
          <div class="item-title">full name</div>
          <input nz-input placeholder="Basic usage" />
        </div>
        <div class="modal-item-input">
          <div class="item-title">Email</div>
          <input nz-input placeholder="Basic usage" />
        </div>
        <div class="modal-item-input">
          <div class="item-title">Company</div>
          <app-select
            placeholder="Periodic Filter"
            mode="default"
            [options]="companyOptions"
          ></app-select>
        </div>
      </div>
      <div class="modal-section label-col">
        <div class="modal-item-input">
          <div class="item-title">username</div>
          <input nz-input placeholder="Basic usage" />
        </div>
        <div class="modal-item-input">
          <div class="item-title">create password</div>
          <nz-input-group [nzSuffix]="passwordIcon">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              placeholder="create password"
              [(ngModel)]="CreatePassword"
            />
          </nz-input-group>
        </div>
        <div class="modal-item-input">
          <div class="item-title">confirm password</div>
          <nz-input-group [nzSuffix]="passwordIcon">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              placeholder="confirm password"
              [(ngModel)]="ConfirmPassword"
            />
          </nz-input-group>
        </div>
      </div>
    </div>
  </div>

  <ng-template #passwordIcon>
    <i
      nz-icon
      [nzType]="passwordVisible ? 'unlock' : 'lock'"
      (click)="passwordVisible = !passwordVisible"
    ></i>
  </ng-template>

  <div modal-footer>
    <div class="foot-section-end">
      <app-button
        nz-button
        type="dashed"
        class="line-danger"
        text="cancel"
        icon="close-circle"
        (click)="closeCreate()"
      ></app-button>
      <app-button
        nz-button
        class="info"
        text="submit"
        (click)="createSubmit('success')"
        [loading]="isCreateLoading"
      >
      </app-button>
    </div>
  </div>
</modal>
