<div nz-row [nzGutter]="[16, 16]">
  <div nz-col [nzSpan]="24">
    <card nz-card>
      <div class="button-group">
        <span class="group-info">Selected {{ setOfCheckedId.size }} items</span>
        <div class="group-item">
          <app-button
            nz-button
            *ngFor="let item of buttonItem"
            type="dashed"
            [text]="item.text + '\nfile'"
            [icon]="item.icon"
            [disabled]="setOfCheckedId.size === 0"
          ></app-button>
        </div>
      </div>
      <nz-table
        #clippingEditing
        nzShowSizeChanger
        nzShowPagination
        nzTableLayout="fixed"
        [nzData]="listOfData"
        [nzScroll]="{ y: '500px' }"
        [nzPageSize]="10"
        [nzPageSizeOptions]="[10, 100, 500, 1000]"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
      >
        <thead>
          <tr>
            <th
              nzLeft
              nzAlign="right"
              nzWidth="60px"
              [(nzChecked)]="checked"
              [nzIndeterminate]="indeterminate"
              (nzCheckedChange)="onAllChecked($event)"
            ></th>
            <th
              *ngFor="let col of listOfColumn"
              nzEllipsis
              [nzSortOrder]="col.sortOrder"
              [nzSortFn]="col.sortFn"
              [nzSortDirections]="col.sortDirections"
              [nzFilterMultiple]="col.filterMultiple"
              [nzFilters]="col.listOfFilter"
              [nzFilterFn]="col.filterFn"
              [nzWidth]="col.width"
              [nzAlign]="col.align"
            >
              {{ col.name }}
            </th>
            <th nzRight nzWidth="20%" class="action-head">Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of clippingEditing.data">
            <tr>
              <td
                nzLeft
                nzAlign="left"
                nzWidth="60px"
                [nzChecked]="setOfCheckedId.has(data.id)"
                (nzCheckedChange)="onItemChecked(data.id, $event)"
                [nzExpand]="expandSet.has(data.id)"
                (nzExpandChange)="onExpandChange(data.id, $event)"
              ></td>
              <td>{{ data.date }}</td>
              <td>{{ data.media }}</td>
              <td class="headline-column">
                <span class="headline-text">
                  {{ data.headline }}
                </span>
              </td>
              <td>{{ data.sentiment }}</td>
              <td nzRight class="action-column">
                <a class="action-item" (click)="openDetail()">
                  <icon type="edit"></icon>
                  edit
                </a>
                <a
                  class="action-item delete"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to delete?"
                  nzOkText="delete"
                  nzOkType="danger"
                  (nzOnConfirm)="deleteRow(data.id)"
                >
                  <icon type="delete"></icon>
                  delete
                </a>
              </td>
            </tr>
            <tr [nzExpand]="expandSet.has(data.id)">
              <div class="summary">
                {{ data.summary }}
              </div>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </card>
  </div>
</div>

<nz-drawer
  class="detail"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzVisible]="isDetail"
  nzTitle="'Headline: Lorem ipsum dolor sit amet.'"
  [nzFooter]="footerTpl"
  (nzOnClose)="closeDetail()"
  [nzOffsetX]="isSummary"
>
  <div class="drawer-content">
    <div nz-row [nzGutter]="[16, 16]">
      <!-- Article Info -->
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
        <div class="section-info">
          <div class="info-item">
            <div class="info-title">date</div>
            <div class="info-content">01/01/2020</div>
          </div>
          <div class="info-item">
            <div class="info-title">media</div>
            <div class="info-content-url">
              <a
                href="https://kumparan.com/kumparannews/trump-klaim-sembuh-dari-corona-berkat-regeneron-saya-menyebutnya-obat-covid-19-1uMTWPzpukT"
                target="_blank"
                nz-tooltip
                nzTooltipPlacement="right"
                nzTooltipTitle="https://kumparan.com/kumparannews/trump-klaim-sembuh-dari-corona-berkat-regeneron-saya-menyebutnya-obat-covid-19-1uMTWPzpukT"
              >
                kumparan.com
              </a>
            </div>
          </div>
          <div class="info-item">
            <div class="info-title">sentiment</div>
            <div class="info-content">
              <app-tag class="tag-info" text="neutral"></app-tag>
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
        <div class="section-info">
          <div class="info-item">
            <div class="info-title">news value</div>
            <div class="info-content-value">11,625,000</div>
          </div>
          <div class="info-item">
            <div class="info-title">ad value</div>
            <div class="info-content-value">11,625,000</div>
          </div>
          <div class="info-item">
            <div class="info-title">summary</div>
            <div class="info-content">
              <a class="action-item" (click)="openSummary()">
                <icon type="edit"></icon>
                edit summary
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Article Content -->
      <div nz-col [nzSpan]="24">
        <div class="section-content">
          <textarea
            class="content-item-editing"
            nz-input
            placeholder="Controlled autosize"
            [nzAutosize]="{ minRows: 5, maxRows: 6 }"
            >{{ lorem }}</textarea
          >
        </div>
      </div>
      <div nz-col [nzSpan]="24">
        <div class="section-content">
          <div class="content-item-summary">
            {{ lorem }}
          </div>
        </div>
      </div>
    </div>
    <div class="section-badge">
      <span class="badge-item" *ngFor="let item of badge">
        <app-tag class="tag-info" [text]="item.label"></app-tag>
      </span>
    </div>
  </div>
  <ng-template #footerTpl>
    <div style="float: right">
      <app-button
        nz-button
        class="line-danger"
        type="dashed"
        text="cancel"
        icon="close-circle"
        (click)="closeDetail()"
      ></app-button>
      <app-button
        nz-button
        class="info"
        text="submit"
        (click)="closeDetail()"
      ></app-button>
    </div>
  </ng-template>
</nz-drawer>

<nz-drawer
  class="detail"
  [nzClosable]="false"
  [nzVisible]="isSummary"
  nzTitle="Summary Editing"
  [nzFooter]="footerSum"
  (nzOnClose)="closeSummary()"
>
  <div class="drawer-content">
    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="24">
        <div class="section-content">
          <textarea
            class="content-item-editing"
            nz-input
            placeholder="Controlled autosize"
            [nzAutosize]="{ minRows: 5, maxRows: 6 }"
            >{{ lorem }}</textarea
          >
        </div>
      </div>
      <div nz-col [nzSpan]="24">
        <div class="section-content">
          <div class="content-item-summary">
            {{ lorem }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #footerSum>
    <div style="float: right">
      <app-button
        nz-button
        class="line-danger"
        type="dashed"
        text="back"
        icon="rollback"
        (click)="closeSummary()"
      ></app-button>
      <app-button
        nz-button
        class="info"
        text="submit"
        (click)="closeSummary()"
      ></app-button>
    </div>
  </ng-template>
</nz-drawer>
