<!-- <div class="input-component">
  <span label for="[nz-input]" [text]="label"></span>
  <nz-input-group
    [nzSuffix]="suffixTemplateInfo"
    [nzPrefix]="prefixTemplateUser"
  >
    <input
      nz-input
      [type]="type"
      [placeholder]="placeholder"
      [nzSize]="size"
      [value]="value"
      [disabled]="disabled"
    />
  </nz-input-group>
</div> -->

<div class="input-component">
  <nz-input-group
    [nzSuffix]="suffixTemplateInfo"
    [nzPrefix]="prefixTemplateUser"
    [nzSize]="size"
  >
    <input
      nz-input
      value="{{ value }}"
      [type]="type"
      [placeholder]="placeholder"
      [nzAutocomplete]="autoComplete"
      ngModelChange="onChange($event)"
    />
  </nz-input-group>
  <ng-template #prefixTemplateUser>
    <icon [type]="icon"></icon>
  </ng-template>
  <ng-template #suffixTemplateInfo>
    <icon [type]="extraIcon"></icon>
  </ng-template>
</div>
