<span class="button-component">
  <button
    nz-button
    class="{{ ButtonType }}"
    nzType="{{ type }}"
    nzSize="{{ size }}"
    nzLoading="{{ loading }}"
    click="onClick($event)"
    disabled="{{ disabled }}"
    nzBlock="{{ full }}"
  >
    <span class="button-text" [ngStyle]="{ color: color }">
      <icon type="{{ icon }}" theme="outline"></icon>
      {{ text }}
    </span>
  </button>
</span>
