@import "scss/styles.scss";

:host .button-component {
  position: relative;
  outline: none;
}

::ng-deep .ant-btn {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  min-width: 80px;
  border-radius: 3px;

  &.ant-btn-text {
    background: transparent;
  }

  &:only-child {
    margin: 0 8px;
  }

  &:last-child {
    margin-right: 0;
  }

  &.info {
    color: $white;
    background: $blue;
    border-color: $blue;

    &:hover {
      color: $blue;
      background: $white;
    }
  }

  &.success {
    background: $green;
    color: $white;
    border-color: $green;

    &:hover {
      color: $green;
      background: $white;
    }
  }

  &.warning {
    background: $yellow;
    color: $white;
    border-color: $yellow;

    &:hover {
      color: $yellow;
      background: $white;
    }
  }

  &.danger {
    background: $red;
    color: $white;
    border-color: $red;

    &:hover {
      color: $red;
      background: $white;
    }
  }

  &.ant-btn-dashed {
    &.line {
      background: transparent;

      &-info {
        color: $blue;
        border-color: $blue;

        &:hover {
          color: darken($color: $blue, $amount: 15%);
          background: rgba($color: $blue, $alpha: 0.3);
        }
      }

      &-success {
        color: $green;
        border-color: $green;

        &:hover {
          color: darken($color: $green, $amount: 15%);
          background: rgba($color: $green, $alpha: 0.3);
        }
      }

      &-warning {
        color: $yellow;
        border-color: $yellow;

        &:hover {
          color: darken($color: $yellow, $amount: 15%);
          background: rgba($color: $yellow, $alpha: 0.3);
        }
      }

      &-danger {
        color: $red;
        border-color: $red;

        &:hover {
          color: darken($color: $red, $amount: 15%);
          background: rgba($color: $red, $alpha: 0.3);
        }
      }
    }
  }

  .button-text {
    icon {
      font-weight: 600;
      font-size: 13px;
      margin-right: 3px;
    }
  }
}
