@import "scss/styles.scss";

:host {
  position: relative;
  min-width: 100%;
}

::ng-deep .ant-card {
  border-radius: 3px;
  box-shadow: $shadow;

  .ant-card-head {
    background: rgba($color: $black, $alpha: 1);
    color: $white;

    .ant-card-head-title {
      font-weight: 600;
      text-transform: capitalize;
    }
  }

  .ant-card-body {
    padding: 16px;
  }
}
