@import "scss/styles.scss";

.search-layout {
  min-height: 100vh;
  min-width: 100%;

  nz-header {
    background: color(black, dark);
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 0 20px;

    .logo {
      width: 120px;
      height: 31px;
      background: rgba(255, 255, 255, 0.2);
      margin: 16px 0;
      float: left;
    }

    .search-box {
      width: 100%;
      max-width: 250px;
      height: 31px;
      margin: 16px 0;
      float: right;

      button {
        min-width: 50px;
      }

      @include responsive(phone) {
        width: 180px;

        button {
          min-width: 30px;
        }
      }
    }
  }

  nz-content {
    z-index: 0;
    padding: 0;
    margin-top: 64px;

    .inner-content {
      padding: 20px;
      min-height: 100vh;
    }
  }
}

.text {
  margin: 0;

  &.title {
    color: color(black, base);
    text-transform: uppercase;
    font-weight: bolder;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.detail-content {
  .video {
    position: relative;
    width: 100%;
    height: 300px;
    min-height: 100%;

    @include responsive(desktop) {
      height: 320px;
    }

    @include responsive(xl-desktop) {
      height: 600px;
    }

    iframe {
      display: flex;
      width: 100%;
      height: 100%;
      border: 2px solid $black;
      border-radius: 3px;
    }
  }

  .video-info {
    margin: 0;

    @include responsive(tablet) {
      margin: 1rem 0 0.5rem;
      line-break: 3;
      border-bottom: 1px solid lighten($color: $black, $amount: 60%);
    }

    .info-item {
      .text {
        @extend .text;

        &.title-item {
          @extend .title;
          text-align: justify;
          line-break: strict;
          -webkit-line-clamp: 3;
        }
      }

      .status-item {
        width: 100%;
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .status {
          &-detail {
            display: flex;
            flex-direction: row;
            align-items: center;

            .detail-item {
              padding: 0 8px;
              font-weight: 500;

              &:nth-child(2) {
                border-left: 2px solid lighten($color: $black, $amount: 60%);
                border-right: 2px solid lighten($color: $black, $amount: 60%);
              }

              &:last-child {
                padding-right: 0;
              }

              &.like {
                icon {
                  color: darken($color: $green, $amount: 5%);
                }
              }

              &.dislike {
                icon {
                  color: darken($color: $red, $amount: 5%);
                }
              }

              &.comment {
                icon {
                  color: darken($color: $blue, $amount: 5%);
                }
              }
            }
          }
        }
      }
    }

    &.comment {
      @extend .video-info;

      .text {
        &:after {
          content: "Comments:";
          margin-left: 3px;
          color: lighten($color: $black, $amount: 20%);
        }
      }

      .comment-item {
        height: 100vh;
        max-height: 200px;
        overflow-y: auto;

        @include responsive(tablet) {
          max-height: calc(100vh - 38em);
        }

        @include responsive(desktop) {
          max-height: calc(100vh - 15em);
        }

        @include responsive(xl-desktop) {
          max-height: calc(100vh - 15em);
        }
      }
    }
  }
}

::ng-deep .ant-comment {
  .ant-comment-inner {
    padding: 8px 0;

    .ant-comment-content {
      .ant-comment-actions {
        margin-top: 4px;
        height: 20px;

        .status-detail {
          display: flex;
          flex-direction: row;
          align-items: center;

          .detail-item {
            padding: 0 8px;
            font-weight: 500;

            &:nth-child(2) {
              border-left: 2px solid lighten($color: $black, $amount: 60%);
              border-right: 2px solid lighten($color: $black, $amount: 60%);
            }

            &:last-child {
              padding-right: 0;
            }

            &.like {
              icon {
                color: darken($color: $green, $amount: 5%);
              }
            }

            &.dislike {
              icon {
                color: darken($color: $red, $amount: 5%);
              }
            }

            &.comment {
              icon {
                color: darken($color: $blue, $amount: 5%);
              }
            }
          }
        }
      }
    }
  }
}
