<nz-layout class="search-layout">
  <nz-header>
    <div class="logo"></div>
    <div class="search-box">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" >
        <input type="text" nz-input placeholder="search here" #search/>
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="onSearch(search.value)">
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <nz-tabset>
        <nz-tab [nzTitle]="youtubeTabs">
          <div class="list-content">
            <nz-list
              nzGrid
              [nzDataSource]="datapush"
              [nzLoading]="loading"
              [nzItemLayout]="'vertical'"
              [nzPagination]="pagination"
            >
              <div nz-row [nzGutter]="[16, 16]">
                <div
                  nz-col
                  nzXs="24"
                  nzSm="24"
                  nzMd="12"
                  nzLg="8"
                  nzXl="6"
                  *ngFor="let item of datapush"
                >
                  <nz-list-item
                    [nzActions]="[starAction, likeAction, msgAction]"
                  >
                    <ng-template #starAction
                      ><i nz-icon nzType="like-o" style="margin-right: 8px"></i>
                      {{ item.like }}</ng-template
                    >
                    <ng-template #likeAction
                      ><i
                        nz-icon
                        nzType="dislike-o"
                        style="margin-right: 8px"
                      ></i>
                      {{ item.dislike }}</ng-template
                    >
                    <ng-template #msgAction
                      ><i
                        nz-icon
                        nzType="message"
                        style="margin-right: 8px"
                      ></i>
                      {{ item.comment }}</ng-template
                    >
                    <nz-list-item-meta
                      [nzTitle]="video"
                      [nzDescription]="videoTitle"
                    >
                      <ng-template #videoTitle>
                        <a href="javascript: void(0);" (click)="onDetail(item.vid)">
                          <p class="text title">{{ item.title }}</p>
                        </a>
                        <p class="text">{{ item.channelName }}</p>
                      </ng-template>
                    </nz-list-item-meta>
                    <ng-template #video>
                      <iframe
                        width="100%"
                        height="300"
                        [src]="item.video"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                      ></iframe>
                    </ng-template>
                  </nz-list-item>
                </div>
              </div>
            </nz-list>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </nz-content>
</nz-layout>

<ng-template #youtubeTabs>
  <i nz-icon style="margin-right: 3px" nzType="youtube"></i>
  youtube
</ng-template>

<ng-template #pagination>
  <nz-pagination
    [nzPageIndex]="1"
    [nzTotal]="totaldata"
    [nzPageSize]="10"
    [nzCloseIcon]="close"
    (nzPageSizeChange)="loadData()"
    (nzPageIndexChange)="loadData($event)"
  ></nz-pagination>
</ng-template>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'hidden' }"
  [nzClosable]="false"
  [nzMaskClosable]="false"
  [nzWidth]="'100%'"
  [nzVisible]="isDetail"
  [nzContent]="detailContent"
  [nzFooter]="footer"
  nzPlacement="right"
  (nzOnClose)="onClose()"
>
  <ng-template #detailContent>
    <div class="detail-content">
      <div nz-row [nzGutter]="[16]">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="14">
          <div class="video">
            <iframe
              [src]="vidioembed"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="10">
          <div class="video-info">
            <div class="info-item">
              <div class="text title-item">
                {{detaildes?.title}}
              </div>
              <div class="status-item">
                <div class="status-date">
                  <app-tag
                    class="tag-info"
                    icon="calendar"
                    [text]="detaildes?.date"
                  ></app-tag>
                </div>
                <div class="status-detail">
                  <div class="detail-item like">
                    <icon type="like-o"></icon>
                    {{detaildes?.like}}
                  </div>
                  <div class="detail-item dislike">
                    <icon type="dislike-o"></icon>
                    {{detaildes?.dislike}}
                  </div>
                  <div class="detail-item comment">
                    <icon type="message-o"></icon>
                    {{detaildes?.comment}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="video-info comment">
            <div class="info-item">
              <div class="text title-item">{{totaldatadetail}}</div>
            </div>
            <div class="comment-item">
              <nz-list
                [nzDataSource]="commentData"
                [nzRenderItem]="item"
                [nzItemLayout]="'horizontal'"
              >
                <ng-template #item let-item>
                  <nz-comment
                    [nzAuthor]="item.author"
                    [nzDatetime]="item.datetime"
                  >
                    <nz-avatar
                      nz-comment-avatar
                      nzIcon="user"
                      [nzSrc]="item.avatar"
                    ></nz-avatar>
                    <nz-comment-content>
                      <p>{{ item.content }}</p>
                    </nz-comment-content>
                    <nz-comment-action>
                      <div class="status-detail">
                        <div class="detail-item like">
                          <icon type="like-o"></icon>
                          {{ item.like }}
                        </div>
                        <!-- <div class="detail-item dislike">
                          <icon type="dislike-o"></icon>
                          100K
                        </div>
                        <div class="detail-item comment">
                          <icon type="message-o"></icon>
                          100K
                        </div> -->
                      </div>
                    </nz-comment-action>
                  </nz-comment>
                </ng-template>
                <nz-pagination
                [nzPageIndex]="1"
                [nzTotal]="totaldatadetail"
                [nzPageSize]="10"
                [nzCloseIcon]="close"
                (nzPageSizeChange)="loadDataDetail()"
                (nzPageIndexChange)="loadDataDetail($event)"
              ></nz-pagination>
              </nz-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #footer>
    <div style="float: right">
      <app-button
        nz-button
        class="line-danger"
        type="dashed"
        text="close"
        icon="close-circle"
        (click)="onClose()"
      ></app-button>
    </div>
  </ng-template>
</nz-drawer>
