@import "scss/styles.scss";

.sidebar-logo {
  position: relative;
  height: 64px;
  line-height: 64px;
  overflow: hidden;
  background: color(black, dark);
  transition: all 0.3s;

  .logo-wrap {
    position: relative;
    padding: 0 20px;

    img {
      display: inline-block;
      height: auto;
      width: 30px;
      margin-right: 8px;
      vertical-align: middle;
    }

    h1,
    .logo-text {
      display: inline-block;
      color: $white;
      font-weight: 600;
      font-size: 18px;
      text-transform: capitalize;
      vertical-align: middle;
    }
  }
}
