<div>
  <div class="sidebar-logo">
    <div class="logo-wrap">
      <img [src]="logo.src" alt="logo" />
      <div class="logo-text">{{ logo.label }}</div>
    </div>
  </div>
  <ng-content></ng-content>
</div>
