@import "scss/styles.scss";

::ng-deep .ant-modal {
  .ant-modal-content {
    color: $black;

    .ant-modal-close {
      color: $red;
    }

    .ant-modal-header {
      user-select: none;
      background: color(black, dark);
      padding: 12px;
      border: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .ant-modal-title {
        color: $white;
        text-transform: capitalize;
      }
    }

    .ant-modal-body {
      padding: 12px;

      .modal-body-content {
        width: 100%;

        .section-label {
          display: flex;
          align-items: flex-start;
          flex-direction: row;

          .modal-section {
            flex: 1;

            &.label-col {
              padding: 0 6px;

              &:first-child {
                padding-left: 0;
              }

              &:last-child {
                padding-right: 0;
              }

              .modal-item {
                display: flex;
                text-align: left;
                align-items: flex-start;
                justify-content: space-between;
                flex-direction: row;
                margin-bottom: 6px;

                .item-title {
                  text-transform: capitalize;
                  font-weight: 600;

                  &:after {
                    display: inline;
                    content: ":";
                  }
                }

                span {
                  &.price {
                    &:before {
                      display: inline;
                      content: "IDR";
                    }
                  }
                }

                &-input {
                  @extend .modal-item;
                  flex-direction: column;

                  app-select,
                  nz-range-picker {
                    min-width: 100%;
                  }
                }
              }
            }
          }
        }

        .section-text {
          display: flex;
          flex-direction: column;
          word-wrap: break-word;
          white-space: pre-wrap;
          padding: 8px;
          margin-bottom: 16px;
          max-height: 200px;
          overflow-y: auto;
          border: 1px dashed rgba($color: $border, $alpha: 0.3);

          &:last-child {
            margin: 0;
          }

          &::-webkit-scrollbar {
            width: 10px;
          }

          &::-webkit-scrollbar-track {
            background: rgba($color: $white, $alpha: 1);
          }

          &::-webkit-scrollbar-thumb {
            background: $black;

            &:hover {
              background: color(black, dark);
            }
          }
        }

        .category-group {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .category-item {
            border: 1.5px dashed color(blue, light);
            padding: 8px 10px;
            border-radius: 50px;
            margin: 5px 3px;
            color: $black;
            font-size: 13px;
            text-transform: capitalize;
            user-select: none;
          }
        }
      }
    }

    .ant-modal-footer {
      padding: 12px;

      .modal-foot-content {
        display: flex;
        align-items: center;
        flex-direction: row;

        .foot-section {
          flex: 1;

          app-button {
            display: inline;
            margin: 0 6px;

            &:last-child {
              margin-right: 0;
            }
          }

          &-end {
            position: relative;
            float: right;

            app-button {
              display: inline;
              margin: 0 6px;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        .media-option {
          width: 200px;
          min-width: 100%;
          text-align: left;
          user-select: none;
        }
      }
    }
  }
}
