<nz-modal
  [(nzVisible)]="visible"
  [nzTitle]="title"
  [nzFooter]="modalFooter"
  [nzClosable]="closeable"
  [nzWidth]="width"
>
  <div class="modal-body-content">
    <ng-content select="[modal-content]"></ng-content>
  </div>
  <ng-template #modalFooter>
    <ng-content select="[modal-footer]"></ng-content>
  </ng-template>
</nz-modal>
