@import "scss/styles.scss";

::ng-deep .ant-dropdown {
  .table-filter-search {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    min-width: 120px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

    .search-box {
      position: relative;
      margin: 0;
      padding: 8px;
      text-align: left;
      list-style-type: none;
      background-color: #fff;
      background-clip: padding-box;
      border-radius: 2px;
      outline: 0;

      .button-group {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
          width: 100%;
          margin: 6px 0;

          &:first-child {
            margin-right: 6px;
          }
        }
      }
    }
  }
}
