<nz-tabset [nzTabBarGutter]="[16, 16]" [nzTabBarExtraContent]="addGroup">
  <nz-tab nzTitle="Group Media">
    <table-media></table-media>
  </nz-tab>
  <nz-tab nzTitle="Group Category">
    <table-category></table-category>
  </nz-tab>
  <nz-tab nzTitle="Group Sub Category">
    <table-category-sub></table-category-sub>
  </nz-tab>
</nz-tabset>

<ng-template #addGroup>
  <app-button
    nz-button
    type="text"
    text="add group"
    icon="folder-add"
    color="white"
    (click)="openCreate()"
  ></app-button>
</ng-template>

<modal nz-modal [width]="600" title="Create Group" [visible]="isCreate">
  <div modal-content>Create Group</div>
  <div modal-footer>
    <div class="foot-section-end">
      <app-button
        nz-button
        type="dashed"
        class="line-danger"
        text="cancel"
        icon="close"
        (click)="closeCreate()"
      ></app-button>
      <app-button
        nz-button
        class="info"
        text="set filter"
        (click)="submitCreate('success')"
        [loading]="isConfirmLoading"
      >
      </app-button>
    </div>
  </div>
</modal>
