@import "scss/styles.scss";

nz-tag {
  margin: 0;
  border-style: dashed;

  &.default {
    background: transparent;

    icon {
      margin-right: 3px;
    }

    .tag-text {
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100px;
      vertical-align: middle;
      display: inline-block;
      overflow: hidden;
    }

    &.tag-info {
      border-color: $blue;
      background: rgba($color: $blue, $alpha: 0.1);
      color: color(blue, dark);
    }

    &.tag-danger {
      border-color: $red;
      background: rgba($color: $red, $alpha: 0.1);
      color: color(red, dark);
    }

    &.tag-warning {
      border-color: $yellow;
      background: rgba($color: $yellow, $alpha: 0.1);
      color: color(yellow, dark);
    }

    &.tag-success {
      border-color: $green;
      background: rgba($color: $green, $alpha: 0.1);
      color: color(green, dark);
    }
  }
}
