<div nz-row [nzGutter]="[16, 16]">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
    <card nz-card title="input component">
      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
          <app-input
            icon="user"
            extraIcon="info-circle"
            label="with icon"
            placeholder="with icon"
            value=""
          ></app-input>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
          <app-input
            label="without icon"
            placeholder="without icon"
            value=""
          ></app-input>
        </div>
      </div>
    </card>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
    <card nz-card title="button component">
      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
          <app-button
            nz-button
            class="info"
            icon="filter"
            text="button"
            full
            (click)="open()"
          ></app-button>
          <app-button
            nz-button
            class="danger"
            icon="filter"
            text="button"
            full
            (click)="open()"
          ></app-button>
          <app-button
            nz-button
            class="warning"
            icon="filter"
            text="button"
            full
            (click)="open()"
          ></app-button>
          <app-button
            nz-button
            class="success"
            icon="filter"
            text="button"
            full
            (click)="open()"
          ></app-button>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
          <app-button
            nz-button
            class="line-info"
            type="dashed"
            icon="filter"
            text="button"
            full
            (click)="open()"
          ></app-button>
          <app-button
            nz-button
            class="line-danger"
            type="dashed"
            icon="filter"
            text="button"
            full
            (click)="open()"
          ></app-button>
          <app-button
            nz-button
            class="line-warning"
            type="dashed"
            icon="filter"
            text="button"
            full
            (click)="open()"
          ></app-button>
          <app-button
            nz-button
            class="line-success"
            type="dashed"
            icon="filter"
            text="button"
            full
            (click)="open()"
          ></app-button>
        </div>
      </div>
    </card>
  </div>
</div>
