<div class="widget-component">
  <div [ngClass]="{ 'widget-item': true }" class="{{ InfoType }}">
    <div class="item-title">
      <div class="text">
        {{ title }}
      </div>
    </div>
    <div class="item-content">
      <h3 class="total">
        {{ total }}
        <div class="item-icon">
          <icon type="{{ icon }}" theme="fill"></icon>
        </div>
      </h3>
      <div class="stats">
        <icon [type]="infoIcon" theme="outline"></icon>
        {{ percent }}%
        <span class="stats-info">since last {{ periode }}</span>
      </div>
    </div>
  </div>
</div>
