@import "scss/styles.scss";

$positive: rgba(
  $color: $green,
  $alpha: 0.7,
);
$neutral: rgba(
  $color: $blue,
  $alpha: 0.6,
);
$negative: rgba(
  $color: $red,
  $alpha: 0.7,
);

:host {
  position: relative;
  min-width: 100%;
}

.widget-component {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 90px;
  color: $black;
  background: $white;
  border-radius: 4px;
  box-shadow: $shadow;

  .widget-item {
    border-radius: 4px;
    padding: 8px 16px;
    background: $white;
    flex: 1;

    .item-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text {
        font-size: 12px;
        font-weight: 500;
        text-transform: capitalize;
        margin: 0;
      }
    }

    .item-content {
      .total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        color: $black;
        margin: 0;

        .item-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          background: darken($color: $neutral, $amount: 5%);
          padding: 2px 6px;
          border-radius: 4px;

          icon {
            color: darken($color: $white, $amount: 0);
            font-size: 18px;
          }
        }
      }

      .stats {
        font-weight: 600;

        .stats-info {
          font-size: 12px;
          color: color(black, light);
          margin-left: 3px;
          text-transform: lowercase;
        }
      }
    }

    &.positive {
      background: $positive;

      .item-content {
        .total {
          .item-icon {
            background: darken($color: $positive, $amount: 5%);
          }
        }
      }
    }

    &.neutral {
      background: $neutral;
    }

    &.negative {
      background: $negative;

      .item-content {
        .total {
          .item-icon {
            background: darken($color: $negative, $amount: 5%);
          }
        }
      }
    }
  }
}
