<div nz-row [nzGutter]="[16, 16]">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="6">
    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="24" *ngFor="let item of widgetData">
        <app-widget
          [class]="item.infoType"
          [title]="item.title"
          [icon]="item.icon"
          [infoIcon]="item.infoIcon"
          [total]="item.total"
          [percent]="item.percent"
          [periode]="item.periode"
          [increase]="item.increase"
        ></app-widget>
      </div>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="16" nzXl="18">
    <card nz-card>
      <div widgetChart>
        <apx-chart
          [chart]="widgetOptions.chart"
          [tooltip]="widgetOptions.tooltip"
          [grid]="widgetOptions.grid"
          [markers]="widgetOptions.markers"
          [stroke]="widgetOptions.stroke"
          [colors]="widgetOptions.colors"
          [dataLabels]="widgetOptions.dataLabels"
          [series]="widgetOptions.series"
          [title]="widgetOptions.title"
          [xaxis]="widgetOptions.xaxis"
          [legend]="widgetOptions.legend"
          [responsive]="widgetOptions.responsive"
        ></apx-chart>
      </div>
    </card>
  </div>

  <!-- Tabs -->
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <nz-tabset [nzTabBarGutter]="[16, 16]" [nzTabBarExtraContent]="filterChart">
      <nz-tab nzTitle="Media Visibility">
        <div nz-row [nzGutter]="[16, 16]">
          <div nz-col [nzSpan]="24">
            <card nz-card size="small" title="visibility chart">
              <div widgetChart>
                <apx-chart
                  [chart]="visibilityOptions.chart"
                  [tooltip]="visibilityOptions.tooltip"
                  [grid]="visibilityOptions.grid"
                  [markers]="visibilityOptions.markers"
                  [stroke]="visibilityOptions.stroke"
                  [colors]="visibilityOptions.colors"
                  [dataLabels]="visibilityOptions.dataLabels"
                  [series]="visibilityOptions.series"
                  [xaxis]="visibilityOptions.xaxis"
                  [legend]="visibilityOptions.legend"
                ></apx-chart>
              </div>
            </card>
          </div>
          <div nz-col nzSm="24" nzMd="24" nzLg="12">
            <card nz-card size="small" title="pie chart">
              <div widgetChart class="pie">
                <apx-chart
                  [series]="pieOptions.series"
                  [chart]="pieOptions.chart"
                  [colors]="pieOptions.colors"
                  [legend]="pieOptions.legend"
                  [responsive]="pieOptions.responsive"
                ></apx-chart>
              </div>
            </card>
          </div>
          <div nz-col nzSm="24" nzMd="24" nzLg="12">
            <card nz-card size="small" title="top headline">
              <div class="list-wrap">
                <div class="list-item" *ngFor="let item of listOfData">
                  <div class="list-head">
                    <div class="list-label">
                      <a (click)="clicktype(item)">{{ item.headline }}</a>
                    </div>
                  </div>
                  <div class="list-content-media">
                    <span>{{ item.mediaName }}</span>
                    <span>{{ item.date }}</span>
                  </div>
                </div>
              </div>
            </card>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Coverage Tone">
        <div nz-row [nzGutter]="[16, 16]">
          <div nz-col [nzSpan]="24">
            <card nz-card size="small" title="coverage chart">
              <div widgetChart>
                <apx-chart
                  [series]="coverageOptions.series"
                  [chart]="coverageOptions.chart"
                  [plotOptions]="coverageOptions.plotOptions"
                  [stroke]="coverageOptions.stroke"
                  [colors]="coverageOptions.colors"
                  [fill]="coverageOptions.fill"
                  [xaxis]="coverageOptions.xaxis"
                  [yaxis]="coverageOptions.yaxis"
                  [tooltip]="coverageOptions.tooltip"
                  [legend]="coverageOptions.legend"
                ></apx-chart>
              </div>
            </card>
          </div>
          <div nz-col nzSm="24" nzMd="24" nzLg="12">
            <card nz-card size="small" title="tone by media selection">
              <div widgetChart>
                <apx-chart
                  [series]="selectionOptions.series"
                  [chart]="selectionOptions.chart"
                  [plotOptions]="selectionOptions.plotOptions"
                  [stroke]="selectionOptions.stroke"
                  [colors]="selectionOptions.colors"
                  [fill]="selectionOptions.fill"
                  [xaxis]="selectionOptions.xaxis"
                  [yaxis]="selectionOptions.yaxis"
                  [tooltip]="selectionOptions.tooltip"
                  [legend]="selectionOptions.legend"
                ></apx-chart>
              </div>
            </card>
          </div>
          <div nz-col nzSm="24" nzMd="24" nzLg="12">
            <card nz-card size="small" title="tone by category">
              <div widgetChart>
                <apx-chart
                  [series]="toneCategoryOptions.series"
                  [chart]="toneCategoryOptions.chart"
                  [plotOptions]="toneCategoryOptions.plotOptions"
                  [stroke]="toneCategoryOptions.stroke"
                  [colors]="toneCategoryOptions.colors"
                  [fill]="toneCategoryOptions.fill"
                  [xaxis]="toneCategoryOptions.xaxis"
                  [yaxis]="toneCategoryOptions.yaxis"
                  [tooltip]="toneCategoryOptions.tooltip"
                  [legend]="toneCategoryOptions.legend"
                ></apx-chart>
              </div>
            </card>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Early Warning System">
        <card nz-card size="small" title="Early Warning System">
          <div widgetChart>
            <apx-chart
              [chart]="earlyOptions.chart"
              [tooltip]="earlyOptions.tooltip"
              [grid]="earlyOptions.grid"
              [markers]="earlyOptions.markers"
              [stroke]="earlyOptions.stroke"
              [colors]="earlyOptions.colors"
              [dataLabels]="earlyOptions.dataLabels"
              [series]="earlyOptions.series"
              [xaxis]="earlyOptions.xaxis"
              [yaxis]="earlyOptions.yaxis"
              [legend]="earlyOptions.legend"
            ></apx-chart>
          </div>
        </card>
      </nz-tab>
    </nz-tabset>
  </div>
  <!-- //Tabs -->
</div>

<ng-template #filterChart>
  <app-button
    nz-button
    type="text"
    text="filter"
    icon="filter"
    color="white"
    (click)="openFilter()"
  ></app-button>
</ng-template>

<modal nz-modal [width]="600" title="chart filter" [visible]="isFilter">
  <div modal-content>
    <div class="section-label">
      <div class="modal-section label-col">
        <div class="modal-item-input">
          <div class="item-title">Periodic Filter</div>
          <app-select
            placeholder="Periodic Filter"
            mode="default"
            [options]="contentOptions"
          ></app-select>
        </div>
        <div class="modal-item-input">
          <div class="item-title">Category Filter</div>
          <app-select
            placeholder="Category"
            mode="default"
            [options]="categoryOptions"
          ></app-select>
        </div>
        <div class="modal-item-input">
          <div class="item-title">Media Filter</div>
          <app-select
            placeholder="Media"
            mode="default"
            [options]="mediaOptions"
          ></app-select>
        </div>
      </div>
      <div class="modal-section label-col">
        <div class="modal-item-input">
          <div class="item-title">Range Periodic</div>
          <nz-range-picker
            [nzRanges]="ranges"
            nzFormat="dd MMM yyyy"
            ngModel
            (ngModelChange)="onRange($event)"
          ></nz-range-picker>
        </div>
        <div class="modal-item-input">
          <div class="item-title">Sub Category Filter</div>
          <app-select
            placeholder="Sub Category"
            mode="default"
            [options]="subCategoryOptions"
          ></app-select>
        </div>
        <div class="modal-item-input">
          <div class="item-title">Sub Media Filter</div>
          <app-select
            placeholder="Sub Media"
            mode="default"
            [options]="subMediaOptions"
          ></app-select>
        </div>
      </div>
    </div>
  </div>
  <div modal-footer>
    <div class="foot-section-end">
      <app-button
        nz-button
        type="dashed"
        class="line-danger"
        text="reset"
        icon="sync"
      ></app-button>
      <app-button
        nz-button
        class="info"
        text="set filter"
        (click)="submitFilter('success')"
        [loading]="isConfirmLoading"
      >
      </app-button>
    </div>
  </div>
</modal>
