@import "scss/styles.scss";

[widgetChart] {
  display: flex;
  justify-content: center;
  align-items: center;

  &.pie {
    max-width: 450px;
    height: 37.5vh;
    margin: 0 auto;

    @include responsive(tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  apx-chart {
    display: block;
    min-width: 100%;
    flex: 1;
  }
}
