<div nz-row [nzGutter]="[16, 16]">
  <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
    <div class="search-input">
      <app-input
        nz-input
        placeholder="Search News Clipping"
        icon="file-done"
        extraIcon="search"
        [autoComplete]="auto"
        (onChange)="onChange($event)"
      ></app-input>
      <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
    <app-select
      nzShowSearch
      nzServerSearch
      placeholder="Select by Content"
      mode="default"
      [options]="contentOptions"
    ></app-select>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
    <app-select
      nzShowSearch
      nzServerSearch
      placeholder="Select by Media"
      mode="default"
      [options]="mediaOptions"
    ></app-select>
  </div>
</div>
<div nz-row [nzGutter]="[16, 16]">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <div style="margin-bottom: 8px">
      <button nz-button (click)="change()">View Data</button>
    </div>
    <div class="list-wrapper">
      <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
        <nz-list-item *ngFor="let item of data">
          <nz-list-item-meta
            nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
            nzDescription="Ant Design, a design language for background applications, is refined by Ant UED Team"
          >
            <nz-list-item-meta-title>
              <a href="https://ng.ant.design">{{ item.title }}</a>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </nz-list-item>
        <nz-empty
          *ngIf="data.length === 0"
          [nzNotFoundContent]="contentTpl"
          [nzNotFoundFooter]="footerTpl"
        >
          <ng-template #contentTpl>
            <span> Empty News Clipping </span>
          </ng-template>
          <ng-template #footerTpl>
            <button nz-button nzType="primary" (click)="onClick()">
              Create Now
            </button>
          </ng-template>
        </nz-empty>
      </nz-list>
    </div>
  </div>
</div>
