<div nz-row [nzGutter]="[16, 16]">
  <div nz-col [nzSpan]="24">
    <card nz-card>
      <div class="button-group">
        <span class="group-info">Selected {{ isCheckedId.size }} company</span>
        <div class="group-item">
          <app-button
            nz-button
            type="dashed"
            class="line-info"
            icon="plus-circle"
            text="add new"
          ></app-button>
          <app-button
            nz-button
            *ngFor="let item of buttonItem"
            type="dashed"
            [text]="item.text + '\ndata'"
            [icon]="item.icon"
            [disabled]="isCheckedId.size === 0"
          ></app-button>
        </div>
      </div>
      <nz-table
        #companyList
        nzShowSizeChanger
        nzShowPagination
        [nzData]="listOfData"
        nzTableLayout="fixed"
        [nzScroll]="{ y: '500px' }"
        [nzPageSize]="10"
        [nzPageSizeOptions]="[10, 100, 500, 1000]"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
      >
        <thead>
          <tr>
            <th
              nzLeft
              nzWidth="60px"
              [(nzChecked)]="checked"
              [nzIndeterminate]="indeterminate"
              (nzCheckedChange)="onAllChecked($event)"
            ></th>
            <th
              *ngFor="let col of listOfColumn"
              nzEllipsis
              [nzSortOrder]="col.sortOrder"
              [nzSortFn]="col.sortFn"
              [nzSortDirections]="col.sortDirections"
              [nzFilterMultiple]="col.filterMultiple"
              [nzFilters]="col.listOfFilter"
              [nzFilterFn]="col.filterFn"
              [nzWidth]="col.width"
              [nzAlign]="col.align"
            >
              {{ col.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of companyList.data">
            <tr>
              <td
                nzLeft
                nzWidth="60px"
                [nzChecked]="isCheckedId.has(data.id)"
                (nzCheckedChange)="onItemChecked(data.id, $event)"
              ></td>
              <td nzLeft class="action-column">
                <span class="action-item">
                  <icon type="carry-out"></icon>
                  {{ data.stdate }}
                </span>
                <span class="action-item delete">
                  <icon type="calendar"></icon>
                  {{ data.endate }}
                </span>
              </td>
              <td>{{ data.company }}</td>
              <td>{{ data.address }}</td>
              <td>{{ data.status }}</td>
              <td nzRight class="action-column">
                <a class="action-item" (click)="openDetail()">
                  <icon type="file-search"></icon>
                  detail
                </a>
                <a
                  class="action-item delete"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to delete?"
                  nzOkText="delete"
                  nzOkType="danger"
                  (nzOnConfirm)="deleteRow(data.id)"
                >
                  <icon type="delete"></icon>
                  delete
                </a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </card>
  </div>
</div>

<nz-drawer
  class="detail"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzVisible]="isDetail"
  nzTitle="Detail: 'company name'"
  [nzFooter]="footerTpl"
  (nzOnClose)="closeDetail()"
>
  <div class="drawer-content">
    <div nz-row [nzGutter]="[16, 16]">
      <!-- Detail Info  -->
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
        <div class="section-info">
          <div class="info-item-form">
            <div class="info-title">company</div>
            <div class="info-content">
              <input nz-input placeholder="Basic usage" />
            </div>
          </div>
          <div class="info-item-form">
            <div class="info-title">phone</div>
            <div class="info-content">
              <input nz-input placeholder="Basic usage" />
            </div>
          </div>
          <div class="info-item-form">
            <div class="info-title">email</div>
            <div class="info-content">
              <input nz-input placeholder="Basic usage" />
            </div>
          </div>
          <div class="info-item-form">
            <div class="info-title">address</div>
            <div class="info-content">
              <textarea
                nz-input
                [nzAutosize]="{ minRows: 1, maxRows: 1 }"
                placeholder="Basic usage"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
        <div class="section-info">
          <div class="info-item-form">
            <div class="info-title">registration</div>
            <div class="info-content">
              <nz-date-picker nzFormat="dd MMMM yyyy"></nz-date-picker>
            </div>
          </div>
          <div class="info-item-form">
            <div class="info-title">expired</div>
            <div class="info-content">
              <nz-date-picker nzFormat="dd MMMM yyyy"></nz-date-picker>
            </div>
          </div>
          <div class="info-item-form">
            <div class="info-title">contact person</div>
            <div class="info-content">
              <input nz-input placeholder="Basic usage" />
            </div>
          </div>
          <div class="info-item-form">
            <div class="info-title">status</div>
            <div class="info-content">
              <app-select
                placeholder="Status"
                mode="default"
                [options]="statusOpt"
              ></app-select>
            </div>
          </div>
        </div>
      </div>
      <!-- Detail Media -->
      <div nz-col [nzSpan]="24">
        <div class="section-info">
          <div class="info-item-form">
            <div class="info-title">Media Selection</div>
            <div class="tree-search">
              <nz-input-group [nzSuffix]="suffixIconSearch">
                <input
                  type="text"
                  nz-input
                  placeholder="media selection search"
                  [(ngModel)]="mediaSearch"
                />
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <icon type="search"></icon>
              </ng-template>
            </div>
            <div class="info-content tree-select">
              <nz-tree
                nzCheckable
                nzMultiple
                nzShowLine
                [nzSearchValue]="mediaSearch"
                [nzData]="MediaSelect"
                [nzExpandedKeys]="mediaExpand"
                (nzClick)="onSelection($event)"
                (nzExpandChange)="onSelection($event)"
                (nzCheckBoxChange)="onSelection($event)"
              >
              </nz-tree>
            </div>
          </div>
          <div class="info-item-form">
            <div class="info-title">company logo</div>
            <div class="info-content">
              <nz-upload
                class="upload-list-inline"
                nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                nzListType="picture"
              >
                <app-button
                  nz-button
                  class="line-info"
                  type="dashed"
                  text="upload"
                  icon="upload"
                ></app-button>
              </nz-upload>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #footerTpl>
    <div style="float: right">
      <app-button
        nz-button
        class="line-danger"
        type="dashed"
        text="cancel"
        icon="close-circle"
        (click)="closeDetail()"
      ></app-button>
      <app-button
        nz-button
        class="info"
        text="update"
        (click)="confirmDetail('success')"
        [loading]="isConfirmDetail"
      ></app-button>
    </div>
  </ng-template>
</nz-drawer>
