@import "scss/styles.scss";

::ng-deep .upload-list-inline .ant-upload-list-item {
  float: left;
  min-width: 100%;
  margin-right: 8px;

  [class*="-upload-list-rtl"] .ant-upload-list-item {
    float: right;
  }

  .ant-upload-animate-enter {
    animation-name: uploadAnimateInlineIn;
  }

  .ant-upload-animate-leave {
    animation-name: uploadAnimateInlineOut;
  }
}
