<div nz-row [nzGutter]="[16, 16]">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <div class="connect-wrapper">
      <div class="connect-form">
        <card nz-card size="small" title="media connect form">
          <div class="form-item">
            <div class="form-input">
              <div class="form-label">headline</div>
              <app-input
                nz-input
                placeholder="Article Headline"
                icon="file-done"
              ></app-input>
            </div>
            <div class="form-input">
              <div class="form-label">subline</div>
              <app-input
                nz-input
                placeholder="Article Subline"
                icon="file-done"
              ></app-input>
            </div>
          </div>

          <div class="form-item">
            <div class="form-input">
              <div class="form-label">editorial desk</div>
              <nz-checkbox-wrapper class="checkbox-wrap">
                <div class="checkbox-item" *ngFor="let item of checkEditorial">
                  <label nz-checkbox nzValue="{{ item.value }}">
                    {{ item.label }}
                  </label>
                </div>
              </nz-checkbox-wrapper>
              <div class="media-select">
                <div class="form-label">
                  <label
                    nz-checkbox
                    ngModel="allChecked"
                    (ngModelChange)="updateAllChecked()"
                    [nzIndeterminate]="indeterminate"
                  >
                    Media Select
                  </label>
                </div>
                <div class="media-select-wrap">
                  <label
                    class="media-select-item"
                    *ngFor="let item of checkMedia"
                    nz-checkbox
                    [nzValue]="item.value"
                    ngModel="item.checked"
                    (ngModelChange)="updateSingleChecked()"
                  >
                    {{ item.label }}
                  </label>
                </div>
              </div>
            </div>
            <div class="form-input">
              <div class="form-label">Upload File</div>
              <div class="clearfix">
                <nz-upload
                  class="upload-list-inline"
                  nzType="drag"
                  [nzMultiple]="true"
                  nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                  (nzChange)="handleChange($event)"
                >
                  <p class="ant-upload-drag-icon">
                    <i nz-icon nzType="inbox"></i>
                  </p>
                  <p class="ant-upload-text">
                    Click or drag file to this area to upload
                  </p>
                  <p class="ant-upload-hint">
                    Support for a single or bulk upload. Strictly prohibit from
                    uploading company data or other band files
                  </p>
                </nz-upload>
              </div>
            </div>
          </div>

          <div class="form-item">
            <div class="form-input">
              <div class="form-label">Article editorial</div>
              <quill-editor
                [styles]="{ height: '300px' }"
                (onFocus)="focus($event)"
                (onEditorChanged)="changedEditor($event)"
                (onBlur)="blur($event)"
                (onEditorCreated)="created($event)"
              ></quill-editor>
            </div>
          </div>
          <div class="connect-button">
            <app-button
              nz-button
              class="danger"
              text="reset"
              icon="sync"
              (click)="handleCancel()"
            ></app-button>
            <app-button
              nz-button
              text="confirm"
              class="info"
              (click)="handleConnect('success')"
              [loading]="isConfirmLoading"
            >
            </app-button>
          </div>
        </card>
      </div>
    </div>
  </div>
</div>
