@import "scss/styles.scss";

:host ::ng-deep .upload-list-inline {
  max-height: 100px;
  overflow-y: auto;

  [class*="-upload-list-rtl"] .ant-upload-list-item {
    float: right;
  }

  .ant-upload-list-item {
    float: left;
    width: 300px;
    margin-right: 8px;
  }

  .ant-upload-animate-enter {
    animation-name: uploadAnimateInlineIn;
  }

  .ant-upload-animate-leave {
    animation-name: uploadAnimateInlineOut;
  }
}

::ng-deep quill-editor {
  .ql-toolbar {
    background: rgba($color: $black, $alpha: 0.2);
    border: 1px solid $black !important;
    border-radius: 2px 2px 0 0;
  }

  .ql-container {
    border: 1px solid $black !important;
    border-radius: 0 0 2px 2px;
  }
}

.connect-wrapper {
  position: relative;
  min-width: 100%;
  height: 100%;

  .connect-form {
    .form-item {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      .form-input {
        flex: 1 0;
        padding: 0 8px 8px;

        .form-label {
          text-transform: capitalize;
          font-weight: 600;
          margin: 6px 0;

          &:after {
            display: inline;
            content: ":";
            margin-left: 6px;
          }
        }

        .checkbox-wrap {
          position: relative;
          width: 100%;

          .checkbox-item {
            display: inline;
          }
        }

        .media-select {
          position: relative;
          height: 100%;

          .media-select-wrap {
            max-height: 150px;
            padding: 2px 0;
            overflow-y: auto;
            border-top: 1.5px solid rgba($color: $border, $alpha: 1);

            .media-select-item {
              display: flex;
              align-items: center;
              padding: 6px;
              padding-left: 0;
              margin-left: 0;
              border-bottom: 1px solid rgba($color: $border, $alpha: 0.3);
            }

            &::-webkit-scrollbar {
              width: 10px;
            }

            &::-webkit-scrollbar-track {
              background: lighten($color: $black, $amount: 60%);
            }

            &::-webkit-scrollbar-thumb {
              background: $black;

              &:hover {
                background: color(black, dark);
              }
            }
          }
        }
      }
    }
  }

  .connect-button {
    position: relative;
    float: right;

    app-button {
      margin: 6px;
    }
  }
}
