.button-group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  .group-info {
    font-weight: 600;
    text-transform: capitalize;
  }

  @include responsive(tablet) {
    align-items: flex-start;
    flex-direction: column;
  }
}
