@import "../variable/colors";
@import "../variable/breakpoint";

::ng-deep .ant-divider,
.ant-divider-horizontal {
  margin: 10px 0;

  &:before,
  &:after {
    border-top-color: $black;
  }

  .ant-divider-inner-text {
    color: $black;
  }
}
