@import "../variable/colors";
@import "../variable/breakpoint";

::ng-deep .ant-drawer {
  .ant-drawer-content-wrapper {
    min-width: 100%;

    @include responsive(desktop) {
      min-width: 50%;
    }

    @include responsive(xl-desktop) {
      min-width: 30%;
    }

    .ant-drawer-content {
      background: $background;

      .ant-drawer-header {
        user-select: none;
        background: color(black, dark);
        padding: 16px;
        border: 0;
        border-radius: 0;
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ant-drawer-title {
          color: $white;
          text-transform: capitalize;
        }

        .ant-drawer-close {
          position: relative;
          padding: 6px;
          margin-left: 6px;
          border: 1px solid $red;
          color: $red;
          border-radius: 2px;
          font-size: 15px;
        }
      }

      .ant-drawer-body {
        position: relative;
        height: 100%;
        padding: 16px;

        .drawer-content {
          position: relative;
          height: 100%;

          .section {
            position: relative;
            width: 100%;
            display: block;

            &-info {
              .info-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                line-height: 2;
                padding: 0 0 6px;
                border-bottom: 1px solid rgba($color: $border, $alpha: 0.3);

                .info-title {
                  text-transform: capitalize;
                  font-weight: bold;

                  &:after {
                    content: ":";
                    margin: 0 3px;
                  }
                }

                .info-content {
                  font-weight: normal;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;

                  &-url {
                    cursor: pointer;
                    white-space: nowrap;
                    max-width: 100px;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    a {
                      color: $black;
                    }
                  }

                  &-value {
                    &:before {
                      content: "IDR";
                      margin-right: 3px;
                    }
                  }

                  a {
                    color: $black;
                  }
                }

                &-form {
                  @extend .info-item;
                  align-items: flex-start;
                  flex-direction: column;

                  .tree-search {
                    margin-bottom: 6px;
                    min-width: 100%;
                  }

                  .info-content {
                    min-width: 100%;

                    nz-date-picker {
                      min-width: 100%;
                    }

                    &.tree-select {
                      background: $white;
                      border: 1px solid $border;
                      border-radius: 2px;
                      padding: 8px;
                      max-height: 275px;
                      overflow-y: auto;
                      overflow-x: hidden;
                    }
                  }
                }
              }
            }

            &-content {
              .content-item {
                &-editing {
                  border: 1px dashed rgba($color: $border, $alpha: 0.3);
                  border-radius: 2px;
                  padding: 8px;
                  height: 100%;
                  max-height: 400px;
                  overflow-y: auto;
                  background: transparent;
                }

                &-summary {
                  border: 1px solid rgba($color: $border, $alpha: 1);
                  border-radius: 2px;
                  padding: 8px;
                  height: 100%;
                  max-height: 370px;
                  overflow-y: auto;

                  @include responsive(xl-desktop) {
                    height: 490px;
                    max-height: 490px;
                  }
                }
              }
            }

            &-badge {
              padding: 8px 0;
              position: absolute;

              .badge-item {
                margin: 0 5px;
                line-height: 2.2;
              }
            }
          }
        }
      }

      .ant-drawer-footer {
        border-top: 1px solid $black;
        padding: 10px;

        .drawer-footer-button {
          float: right;
        }
      }
    }
  }
}
