@import "../variable/colors";
@import "../variable/breakpoint";

.list-wrap {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  height: 37.5vh;
  overflow-y: auto;

  @include responsive(big-screen) {
    height: 38.8vh;
  }

  .list-item {
    padding: 6px;

    &:nth-child(1) {
      margin-top: 0;
    }

    &:nth-child(even) {
      background: lighten($color: $black, $amount: 65%);
    }

    .list-head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .list-label {
        display: -webkit-box;
        max-width: 100%;
        line-height: 1.5;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        .label-icon {
          margin-right: 6px;
        }

        a {
          color: $black;
          font-weight: 600;
          text-transform: capitalize;
          text-decoration: none;
        }
      }

      .list-icon {
        color: $black;
      }
    }

    .list-content {
      display: block;
      display: -webkit-box;
      max-width: 100%;
      margin: 0 auto;
      line-height: 1.5;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $black;

      &-media {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $black;
      }
    }

    .list-info {
      margin: 8px 0;

      app-tag {
        margin-right: 6px;

        &:last-child {
          margin: 0 6px;
        }
      }
    }
  }
}
