@import "../variable/colors";
@import "../variable/breakpoint";

:host {
  position: relative;
  min-width: 100%;
}

::ng-deep nz-table {
  background: transparent;

  .ant-table {
    .ant-table-thead {
      .ant-table-row {
        .ant-table-cell {
          background: rgba($color: $black, $alpha: 1);
          color: $white;
          font-weight: 700;
          user-select: none;

          &:hover {
            background: rgba($color: $black, $alpha: 1);
          }

          &.action-head {
            width: 100px;
          }
        }

        .ant-table-column {
          background: rgba($color: $black, $alpha: 1);
          color: $white;
          font-weight: 700;
          user-select: none;

          &:hover {
            background: rgba($color: $black, $alpha: 1);
          }
        }
      }
    }

    .ant-table-tbody {
      height: 100px;
      overflow-y: auto;

      td {
        padding: 8px;

        &.headline-column {
          @include responsive(tablet) {
            .headline-text {
              white-space: nowrap;
              text-overflow: ellipsis;
              max-width: 130px;
              vertical-align: middle;
              display: inline-block;
              overflow: hidden;
            }
          }
        }

        &.action-column {
          .action-item {
            position: relative;
            display: block;
            text-align: left;
            text-transform: capitalize;
            color: $black;
            padding: 0 4%;

            &.delete {
              color: $red;
              border: none;
            }
          }

          @include responsive(tablet) {
            nz-divider {
              display: none;
            }

            .action-item {
              display: block;
              border: none;
            }
          }
        }
      }

      tr.ant-table-expanded-row {
        background: $white;

        td {
          .ant-table-expanded-row-fixed {
            min-width: 100%;
            width: 100%;
            margin: auto;
            padding: 0;

            .summary {
              display: flex;
              flex-direction: column;

              &:before {
                display: block;
                content: "Summary :";
                font-weight: bold;
              }
            }

            @include responsive(tablet) {
              max-width: 500px;
            }

            @include responsive(desktop) {
              max-width: 670px;
            }
          }
        }
      }
    }
  }
}
// ::ng-deep .ant-table {
//   width: 100%;
//   overflow: hidden;

//   .ant-table-header {
//     background: transparent;

//     .ant-table-thead {
//       .ant-table-row {
//         th {
//           background-color: color(black, light) !important;
//           color: $white;
//           font-weight: 600;
//           user-select: none;
//         }
//       }
//     }
//   }
//   .ant-table-body {
//     background: transparent;

//     tr {
//       background: #fff;
//       user-select: none;

//       &:nth-child(odd) {
//         background: $white;
//       }

//       td {
//         &.headline,
//         &.summary {
//           word-wrap: break-word;
//         }

//         &.date-column {
//           .date-item {
//             position: relative;
//             display: block;
//             min-width: 100%;
//             text-align: left;
//             text-transform: capitalize;
//             font-weight: 600;
//             color: $black;

//             &.expired {
//               color: $red;
//             }
//           }
//         }

//         &.action-column {
//           .action-item {
//             position: relative;
//             display: block;
//             min-width: 100%;
//             text-align: left;
//             text-transform: capitalize;

//             color: $black;

//             &.delete {
//               color: $red;
//             }
//           }
//         }
//       }

//       &.ant-table-expanded-row {
//         background: $white;

//         td {
//           background: transparent;

//           .ant-table-expanded-row-fixed {
//             min-width: 100%;
//             width: 100%;
//             margin: auto;

//             .summary {
//               display: flex;
//               flex-direction: column;

//               &:before {
//                 display: block;
//                 content: "Summary :";
//                 font-weight: bold;
//               }
//             }

//             @include responsive(tablet) {
//               max-width: 500px;
//             }

//             @include responsive(desktop) {
//               max-width: 670px;
//             }
//           }
//         }
//       }
//     }

//     &::-webkit-scrollbar {
//       width: 10px;
//     }

//     &::-webkit-scrollbar-track {
//       background: lighten($color: $black, $amount: 60%);
//     }

//     &::-webkit-scrollbar-thumb {
//       background: $black;

//       &:hover {
//         background: color(black, dark);
//       }
//     }
//   }
// }
