@import "../variable/colors";
@import "../variable/breakpoint";

::ng-deep .ant-tabs {
  .ant-tabs-nav {
    background: $black;
    border-radius: 2px;
    padding: 0 12px;

    &:before {
      border-bottom-color: transparent;
    }

    .ant-tabs-nav-wrap {
      .ant-tabs-nav-list {
        .ant-tabs-tab {
          user-select: none;
          color: lighten($color: $black, $amount: 50%);
          text-transform: capitalize;
          font-weight: 600;
          margin-right: 14px;

          &:hover {
            color: $white;
          }

          &.ant-tabs-tab-active {
            .ant-tabs-tab-btn {
              color: $white;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
