<nz-layout class="grid-layout">
  <nz-header>
    <div class="app-header">
      <span class="header-trigger" (click)="sideCollapsed = !sideCollapsed">
        <icon
          class="trigger"
          [type]="sideCollapsed ? 'menu-unfold' : 'menu-fold'"
        ></icon>
      </span>
      <div class="header-client">
        <img [src]="clientLogo + 'fujitsu.png'" alt="logo" />
      </div>
      <div class="header-info">
        <div class="badge-item">
          <nz-badge
            nzDot
            nz-dropdown
            [nzShowDot]="true"
            nzTrigger="click"
            [nzDropdownMenu]="notifList"
            nzPlacement="bottomRight"
          >
            <icon class="badge-content" type="bell"></icon>
          </nz-badge>
        </div>
        <div class="badge-item">
          <nz-badge
            nzDot
            nz-dropdown
            nzTrigger="click"
            [nzDropdownMenu]="clientList"
            nzPlacement="bottomRight"
          >
            <icon class="badge-content" type="appstore"></icon>
          </nz-badge>
        </div>
      </div>
    </div>
  </nz-header>
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="200px"
    nzBreakpoint="lg"
    [(nzCollapsed)]="sideCollapsed"
    [nzTrigger]="null"
  >
    <app-sidebar [collapse]="sideCollapsed" [logo]="header">
      <ul
        nz-menu
        nzTheme="dark"
        nzMode="inline"
        [nzInlineCollapsed]="sideCollapsed"
      >
        <ng-container
          *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"
        ></ng-container>
        <ng-template #menuTpl let-menus>
          <ng-container *ngFor="let menu of menus">
            <li
              *ngIf="!menu.children"
              nz-menu-item
              nzMatchRouter
              [nzPaddingLeft]="menu.level * 20"
            >
              <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
              <a [routerLink]="menu.path">{{ menu.title }}</a>
            </li>
            <li
              *ngIf="menu.children"
              nz-submenu
              [nzPaddingLeft]="menu.level * 20"
              [nzOpen]="menu.collapse"
              [nzTitle]="menu.title"
              [nzIcon]="menu.icon"
            >
              <ul>
                <ng-container
                  *ngTemplateOutlet="
                    menuTpl;
                    context: { $implicit: menu.children }
                  "
                ></ng-container>
              </ul>
            </li>
          </ng-container>
        </ng-template>
      </ul>
    </app-sidebar>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <router-outlet> </router-outlet>
      </div>
    </nz-content>
  </nz-layout>

  <nz-dropdown-menu #notifList="nzDropdownMenu">
    <div class="dropmenu-wrap">
      <div class="dropmenu-title">notification</div>
      <div class="dropmenu-content-client"></div>
    </div>
  </nz-dropdown-menu>

  <nz-dropdown-menu #clientList="nzDropdownMenu">
    <div class="dropmenu-wrap">
      <div class="dropmenu-title">Select Client</div>
      <div class="dropmenu-content-client"></div>
    </div>
  </nz-dropdown-menu>
</nz-layout>
