@import "scss/styles.scss";

.grid-layout {
  display: grid;
  height: 100vh;
  min-width: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar inner-content";

  nz-header {
    grid-area: header;
    background: color(black, dark);
    user-select: none;
    z-index: 2;
    padding: 0;

    .app-header {
      position: relative;
      display: flex;
      align-items: center;
      height: 64px;
      padding: 0;
      color: $white;
      box-shadow: 0 1px 7px rgba(0, 21, 41, 0.5);

      .header-trigger {
        height: 64px;
        padding: 0 20px;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s, padding 0s;

        .trigger {
          &:hover {
            color: #1890ff;
          }
        }
      }

      .header-client {
        position: relative;
        height: 64px;
        padding: 0 24px;
        margin: auto;

        img {
          display: inline-block;
          height: 40px;
          vertical-align: middle;
        }
      }

      .header-info {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 24px;

        .badge-item {
          position: relative;
          display: flex;
          align-items: center;
          height: 30px;
          width: 100%;
          padding: 0 20px;
          border-right: 1px solid $white;
          cursor: pointer;

          nz-badge {
            .badge-content {
              color: $white;
              font-size: 18px;
              display: flex;
              align-items: center;
              justify-content: center;
              vertical-align: middle;
            }
          }
        }

        .info-item {
          position: relative;
          display: flex;
          align-items: center;
          height: 50px;
          padding: 0 24px;
          cursor: pointer;
          border-left: 1px solid $white;
          border-right: 1px solid $white;

          nz-avatar {
            display: inline-block;
            color: $black;
            font-weight: bold;
            background-color: $white;
          }

          .user-info {
            display: flex;
            flex-direction: column;
            line-height: 1.3;
            margin-left: 1rem;
            text-transform: capitalize;

            .user-name {
              font-weight: bold;
            }

            .user-status {
              font-weight: normal;
              font-size: 14px;
            }
          }

          nz-dropdown-menu {
            [nz-menu] {
              [nz-menu-item] {
                text-transform: capitalize;
                icon {
                  margin-right: 8px;
                }
              }
            }
          }
        }
      }
    }
  }

  nz-sider {
    grid-area: sidebar;
    transition: all 0.3s, padding 0s;
    user-select: none;

    &.menu-sidebar {
      grid-area: sidebar;
      z-index: 10;
      background: color(black, dark);
      box-shadow: 1px 1px 7px rgba(0, 21, 41, 0.5);

      [nz-menu] {
        background-color: color(black, dark);
        text-transform: capitalize;
        font-weight: 600;

        [nz-submenu] {
          border-bottom: 1px solid color(black, light);

          ul {
            li[nz-menu-item] {
              margin: 0;

              a {
                text-transform: capitalize;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  nz-content {
    grid-area: inner-content;
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 3rem);

    .inner-header {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .inner-content {
      min-height: calc(100% - 2rem - 1rem);
    }

    // scroll bar //
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: $background;
    }

    &::-webkit-scrollbar-thumb {
      background: $black;

      &:hover {
        background: color(black, dark);
      }
    }
  }
}

::ng-deep .ant-dropdown {
  .dropmenu-wrap {
    background: $white;
    margin: 1rem 0;
    border-radius: 3px;
    border: 1px solid $border;

    .dropmenu-title {
      padding: 8px 1rem;
      text-transform: capitalize;
      font-weight: 600;
      background: rgba($color: $black, $alpha: 0.3);
    }

    .dropmenu-content {
      padding: 1rem;
      max-height: 200px;
      min-width: 200px;
      overflow-y: auto;

      &-client {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        .client-item {
          flex: 1;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 70px;
          width: 70px;
          cursor: pointer;

          img {
            width: 100%;
            height: auto;
          }

          &:hover {
            background: rgba($color: $black, $alpha: 0.05);
          }
        }
      }
    }
  }
}
