:host {
  display: flex;
  min-width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;

  .menu-sidebar {
    position: relative;
    z-index: 10;
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    user-select: none;

    .sidebar-logo {
      position: relative;
      height: 64px;
      padding-left: 24px;
      overflow: hidden;
      line-height: 64px;
      background: #001529;
      transition: all 0.3s;

      img {
        display: inline-block;
        height: 32px;
        width: 32px;
        vertical-align: middle;
      }

      h1 {
        display: inline-block;
        margin: 0 0 0 20px;
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        vertical-align: middle;
      }
    }
  }

  nz-header {
    position: relative;
    width: 100%;
    padding: 0;
    z-index: 2;

    .app-header {
      position: relative;
      display: flex;
      align-items: center;
      height: 64px;
      padding: 0;
      color: #fff;
      box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

      .header-trigger {
        height: 64px;
        padding: 0 24px;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s, padding 0s;

        .trigger {
          &:hover {
            color: #1890ff;
          }
        }
      }

      .header-client {
        position: relative;
        height: 64px;
        padding: 0 24px;
        margin: 0 auto;

        img {
          display: inline-block;
          height: 40px;
          vertical-align: middle;
        }
      }
    }
  }

  nz-content {
    padding: 0;

    .inner-content {
      padding: 20px;
    }
  }
}
