@import "variable/colors";
@import "variable/typo";
@import "variable/breakpoint";

@import "component/divider";
@import "component/button";

@import "component/drawer";
@import "component/table";

// @import "component/tabs";
@import "component/list";

// @import "component/treeSelect";

:host {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  // background: $white;
  background: lighten($color: $black, $amount: 60%);
}

::-webkit-scrollbar-thumb {
  background: $black;

  &:hover {
    background: color(black, dark);
  }
}
