<nz-table
  #SubCategoryTable
  nzShowSizeChanger
  nzShowPagination
  [nzData]="subCategoryData"
  nzTableLayout="fixed"
  [nzPageSize]="10"
  [nzPageSizeOptions]="[10, 100, 500, 1000]"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
    <tr>
      <th
        nzLeft
        nzWidth="60px"
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th nzCustomFilter>
        Sub Category
        <nz-filter-trigger
          [(nzVisible)]="visible"
          [nzActive]="searchValue.length > 0"
          [nzDropdownMenu]="SearchMenu"
        >
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th nzWidth="15%">Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of SubCategoryTable.data">
      <tr>
        <td
          [nzWidth]="'60px'"
          [nzChecked]="setOfCheckedId.has(data.id)"
          (nzCheckedChange)="onItemChecked(data.id, $event)"
        ></td>
        <td>{{ data.subCategory }}</td>
        <td class="action-column" [nzAlign]="'center'">
          <a class="action-item" (click)="detailOpen()">
            <icon type="file-search"></icon>
            detail
          </a>
          <a
            class="action-item delete"
            nz-popconfirm
            nzPopconfirmTitle="Sure to delete?"
            nzOkText="delete"
            nzOkType="danger"
            (nzOnConfirm)="deleteRow(data.id)"
          >
            <icon type="delete"></icon>
            delete
          </a>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>

<nz-dropdown-menu #SearchMenu="nzDropdownMenu">
  <div class="table-filter-search">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search"
        [(ngModel)]="searchValue"
      />
      <div class="button-group">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          (click)="search()"
          class="search-button"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>
