@import "scss/styles.scss";

.app-header {
  position: relative;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0;
  color: $white;
  box-shadow: 0 1px 7px rgba(0, 21, 41, 0.5);

  .header-trigger {
    height: 64px;
    padding: 0 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s, padding 0s;

    .trigger {
      &:hover {
        color: #1890ff;
      }
    }
  }

  .header-client {
    position: relative;
    height: 64px;
    padding: 0 24px;
    margin: auto;

    img {
      display: inline-block;
      height: 40px;
      vertical-align: middle;
    }
  }

  .header-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;

    .badge-item {
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;
      width: 100%;
      padding: 0 20px;
      border-right: 1px solid $white;
      cursor: pointer;

      nz-badge {
        .badge-content {
          color: $white;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          vertical-align: middle;
        }
      }
    }

    .info-item {
      position: relative;
      display: flex;
      align-items: center;
      height: 50px;
      padding: 0 24px;
      cursor: pointer;
      border-left: 1px solid $white;
      border-right: 1px solid $white;

      nz-avatar {
        display: inline-block;
        color: $black;
        font-weight: bold;
        background-color: $white;
      }

      .user-info {
        display: flex;
        flex-direction: column;
        line-height: 1.3;
        margin-left: 16px;
        text-transform: capitalize;

        .user-name {
          font-weight: bold;
        }

        .user-status {
          font-weight: normal;
          font-size: 14px;
        }
      }

      nz-dropdown-menu {
        [nz-menu] {
          [nz-menu-item] {
            text-transform: capitalize;
            icon {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}
