<div class="app-header">
  <span class="header-trigger" click="onClick($event)">
    <icon class="trigger" [type]="collapsed ? 'menu' : 'menu'"></icon>
  </span>
  <div class="header-client">
    <img [src]="logo" alt="logo" />
  </div>
  <div class="header-info">
    <ng-content></ng-content>
  </div>
</div>

<nz-dropdown-menu #notifList="nzDropdownMenu">
  <div class="dropmenu-wrap">
    <div class="dropmenu-title">notification</div>
    <div class="dropmenu-content-client"></div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #clientList="nzDropdownMenu">
  <div class="dropmenu-wrap">
    <div class="dropmenu-title">Select Client</div>
    <div class="dropmenu-content-client"></div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #userSetting="nzDropdownMenu">
  <ul nz-menu class="dropmenu-wrap">
    <li nz-menu-item><icon type="user"></icon>my account</li>
    <li nz-menu-item><icon type="logout"></icon>signt out</li>
  </ul>
</nz-dropdown-menu>
