<div class="list-wrap">
  <div class="list-item" *ngFor="let DataList">
    <div class="list-head">
      <div class="list-label">
        <icon
          class="label-icon"
          name="file-protect"
          theme="outline"
          size="15px"
          color="#edf2f4"
        ></icon>
        <a href="{{ item.label }}">{{ item.label }}</a>
      </div>
      <div class="list-icon">
        <icon name="fund" theme="fill" size="15px" color="#ffe66d"></icon>
        likes_count
      </div>
    </div>
    <div class="list-content">
      <span nz-tooltip nzTooltipPlacement="left" nzTooltipTitle="text">
        item.text
      </span>
    </div>
    <div class="list-info">
      <app-tag
        class="tag-success"
        icon="plus-circle"
        text="item.positive_opinion_index"
      ></app-tag>
      <app-tag
        class="tag-danger"
        icon="minus-circle"
        text="item.negative_opinion_index"
      ></app-tag>
    </div>
  </div>
</div>
